body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Balsamiq Sans', 'Roboto', sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
}

.container {
  margin-top: -24px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.no-internet {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.search-container input {
  width: 80%;
  max-width: 550px;
  display: block;
  height: 32px;
  position: fixed;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 10px;
}

.hero-image {
  max-height: 100%;
  margin: auto;
  display: block;
  width: 100%;
  padding: 10px;
}

h3 {
  text-align: center;
  color: hsla(0, 0%, 0%, 0.9);
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 14px;
  font-weight: 700;
}

.social-container {
  font-size: 1.4rem;
  color: #79828f;
  position: fixed;
  bottom: 0;
  margin: 14px;
  line-height: 1.45;
}

.social-container a {
  text-decoration: none;
  color: #6499e7;
  font-weight: 600;
}

.social-container a:hover {
  color: #1966d6;
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 2rem;
  }
  .hero-image {
    max-height: 400px;
  }
  .social-container {
    font-size: 0.8rem;
  }
}

/* helper classes */
.hide {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation-name: fadeOut;
}

.fade-in {
  animation-name: fadeIn;
}
